# Remember globally useful things should be in your home directory .gitignore file, not here. This is for project-specific items #
build/
 
# Build output #
.gradle/

# IntelliJ IDEA #
.idea/*
*.iml

# Android #
local.properties

# Linux #
~

# Mac OS X #
.DS_Store
